@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: lightgray;
    font-size: 18px;
    height: 100vh;
}

.section1 {
    background-color: #5865f2;
    margin: 0 auto;
    text-align: left;
    padding: 20px 25px;
    padding-bottom: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 5px ;
}

.menu a {
    text-decoration: none;
    text-align: right;
    color: white;
    text-align: left;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 280;
    font-family: 'Montserrat', sans-serif;
}

.menu {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .8s ease-in-out;
}

.club1.active .menu {
    max-height: 300px;
    animation: fade .5s ease-in-out;
}

.logo {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: white;
    font-weight: bolder;
}

.hamburger {
    border: none;
    background-color: #5865f2;
    color: white;
}

.main {
    margin-top: 40px;
    font-size: 30px;
    color: white;
}

.add {
    color: white;
    font-size: large;
}

.section2 {
    background-color: #ffffff;
    margin: 0 auto;
    text-align: left;
    padding: 20px 25px;
    padding-top: 0px;
}

.sports {
    margin: 28px auto;
    width: 100%;
    margin-bottom: 0px;
}

.event {
    margin-top: 0px;
    font-size: x-large;
    color: black;
}

.event-add {
    color: black;
    font-size: large;
    margin-top: 25px;
}

.explore {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 24px 0px;
    margin-bottom: 4px;
    border: none;
    font-size: 14px;
    padding: 18px 0px;
    border-radius: 30px;
    cursor: pointer;
    align-items: left;
}

.section3 {
    background-color: #e6e6fa;
    margin: 0 auto;
    text-align: left;
    padding: 20px 25px;
}

.merch {
    margin-top: 40px;
    font-size: x-large;
    color: black;
}

.merch-add {
    color: black;
    font-size: large;
    margin-top: 25px;
}

.shop {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin: 12px auto;
    border: none;
    font-size: 15px;
    padding: 12px 21px;
    border-radius: 30px;
}

.section4 {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px 25px;
}

.builder {
    margin-top: 40px;
    font-size: 25px;
    color: black;
    text-align: center;
}

.about {
    color: black;
    font-size: 20px;
    margin-bottom: 30px;
}

.team-mem {
    margin: 20px 0px;
    border: none;
    padding: 25px 30px;
    background-color: #e3f3ff;
    border-radius: 28px;
}

.team-mem2 {
    margin: 20px 0px;
    border: none;
    padding: 25px 30px;
    background-color: #e8f5e3;
    border-radius: 28px;
}

.team-mem3 {
    margin: 20px 0px;
    border: none;
    padding: 25px 30px;
    background-color: #f8edfb;
    border-radius: 28px;
}

.profile {
    display: flex;
    gap: 18px;
    align-items: center;
    
}

.me {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 35px;
}

.user-name {
    margin: 0px;

}

.post {
    margin: 0px;
    font-size: 14px;
}

.footer {
    background-color: black;
    margin: 0 auto;
    text-align: left;
    padding: 20px 25px;
}

.follow {
    font-size: 16px;
    margin-bottom: 0px;
    color: white;
    margin: 25px 0px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
    margin-top: 0px;
}

.social-link {
    border: none;
    color: white;
    background-color: black;
}

.contact{
    color: white;
    margin: 25px 0px;
    font-size: 14px;
}

.call {
    font-size: 16px;
    margin: 0px;
    color: white;
}

.policy {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}

.footer-content {
    color: white;
    font-size: 12px;
}

.end {
    color: white;
    font-size: 12px;
    margin: 25px 0px;
}

section {
    max-width: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.club {
    max-width: 700px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.club-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.club-name h3 {
    font-size: 18px;
}

.comp {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1.2s ease;
}

.comp p {
    padding-top: 0px;
    line-height: 1.2;
    font-size: 1rem;
}

.club.active .comp {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.club.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform .5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.popup-container {
    width: 350px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.h2 {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-left: 8px;
}

.popup-card {
    text-align: center;
}

.form-link {
    display: flex;
    flex-direction: column;
}

.closePopupBtn {
    position: fixed;
    top: 30px;
    right: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.sports-form {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    padding: 10px 24px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 24px;
    margin-bottom: 10px;
}

.others-form {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    padding: 8px 24px;
    color: black;
    background-color: white;
    border: 0.1rem solid lightgray;
    border-radius: 24px;
    margin-bottom: 15px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
